.menu {
    visibility: hidden;
    position: absolute;
    padding: 70px;
    left: 0;
    width: 100%; 
    top: 0;
    text-align: center;
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
    background-color: white;
}

.menu__nav-toggle {
    width: 30px;
    height: 6px;
    position: relative;
    top: 7px;
}

.menu__nav-toggle-bar,
.menu__nav-toggle-bar::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 15px;
    transition-duration: 0.4s;
    z-index: 3;
}

.menu__nav-toggle-bar::before {
    top: -10px;
}

.menu-open .menu {
    visibility: visible;
    opacity: 1;
}

.menu-open .menu__nav-toggle-bar,
.menu-open .menu__nav-toggle-bar::before {
    transform: rotate(-135deg);
} 

.menu-open .menu__nav-toggle-bar::before {
    transform: rotate(90deg);
    top: 0;
}