@import url('menu.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: "Uncut Sans";
    src: url("/src/assets/fonts/UncutSans-Variable.ttf") format("truetype"),
      url("/src/assets/fonts/UncutSans-Variable.woff2") format("woff2"),
      url("/src/assets/fonts/UncutSans-Regular.otf") format("opentype");
   }
/* */

body {
    font-family: 'Uncut Sans', sans-serif;
    color: #141414;
    cursor: none;
}

header {
    color: #333333;
    background-color: #edeae6;
}

footer {
    background-color: #edeae6;
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #141414;
    opacity: 0;
    transition-duration: 300ms;
}

.link:hover {
    text-decoration: none;
    transition-duration: 300ms;
}
.link:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.link--contactme{
  position: relative;
}
.link--contactme::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #edeae6;
  position: absolute;
  bottom: -0.2em;
}

.center {
    transform: translate(-50%, -50%);
}

.footer__class {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 4vh;
}

/* Accueil */
.cover__mask {
    mask-image: url('/img/test.png');
    mask-size: 100%;
    mask-repeat: no-repeat;
  }
  .cover__parent {
    position: relative;
    contain: content;
    background-image: url('/img/GLASS_COLOR_PLANT_OFF.png');
    max-width: 100%;
  }
  .cover__rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 71%;
    background-color: #edeae6;
  }
/* */

@layer components {
  .current-time {
    transform: translate(-50%, 0%);
  }
}

.project__page {
  background-color: #141414;
  color: #edeae6;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.3;
}

.animate-hover {
  opacity: 0;
}
.animate--anim {
  transition: opacity 1s ease;
  filter: blur(1.5px);
  box-shadow: 3px 0 16px 0 rgba(0, 0, 0, 0.25);
}
.animate--anim:hover {
  filter: blur(0);
}

@media (max-width: 768px) {
  .footer__class {
      padding: 2vh;
  }
  .project__page {
      font-size: 1.125rem;
  }
}

/* Cursor */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.cursor circle {
  fill: white;
}
