@import url('menu.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Uncut Sans";
    src: url("src/assets/fonts/UncutSans-Variable.ttf") format("truetype");
   }

body {
    font-family: 'Uncut Sans', sans-serif;
    color: #141414;
}

header {
    color: #333333;
    background-color: #edeae6;
}

footer {
    background-color: #edeae6;
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition-duration: 300ms;
}

a:hover {
    text-decoration: none;
    transition-duration: 300ms;
}

a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.footer__class {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 4vh;
}

@media (max-width: 768px) {
    .footer__class {
        padding: 2vh;
    }
}

@layer components {
  .current-time {
    transform: translate(-50%, 0%);
  }
}
