@import url('menu.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Uncut Sans";
    src: url("src/assets/fonts/UncutSans-Variable.ttf") format("truetype");
   }

body {
    font-family: 'Uncut Sans', sans-serif;
    color: #141414;
}

header {
    color: #333333;
    background-color: #edeae6;
}

footer {
    background-color: #edeae6;
}

.footer__class {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 4vh;
}

@layer components {
  .current-time {
    transform: translate(-50%, 0%);
  }
}
